<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Current Diskstatus for {{ hostname }}</title>
  </head>
  <body>
    <h1>Current Diskstatus for {{ hostname }}</h1>
    <p>
    <table border="1">
        <tr><th>Host</th><th>Mountpoint</th><th>Free</th><th>Total</th></tr>
        {% for key in rows %}
	<tr>
          <td> <a href="{{ key[0] }}">{{key[0]}}</a></td>
          <td> {{key[1]}}</td>
          <td> {{ rows[key].bytes_free }}</td>
          <td> {{ rows[key].bytes_total }}</td>
        </tr>
        {% endfor %}
    </table>
    </p>
    <hr/>
    <p>minimonagent {{versionstr}}</p>
    <script src="https://cdn.canvasjs.com/canvasjs.min.js"></script>
  </body>
</html>

